<section class="main-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update route</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onUpdate()" novalidate>

      <mat-form-field>
        <mat-select formControlName="board" placeholder="Сценарий">
          <mat-option *ngFor="let board of boards" [value]="board.id">{{board.title}}</mat-option>
        </mat-select>
        <mat-hint align="end">Сценарий</mat-hint>
        <mat-error *ngIf="hasError('board', 'incorrect')">{{getError('board')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="type" placeholder="Тип персонажа">
          <mat-option *ngFor="let type of types" [value]="type.id">{{type.title}}</mat-option>
        </mat-select>
        <mat-hint align="end">Тип персонажа</mat-hint>
        <mat-error *ngIf="hasError('type', 'incorrect')">{{getError('type')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="sourcePoint" placeholder="Исходная точка">
          <mat-option *ngFor="let point of points" [value]="point.id">{{point.title}}</mat-option>
        </mat-select>
        <mat-hint align="end">Исходная точка</mat-hint>
        <mat-error *ngIf="hasError('sourcePoint', 'incorrect')">{{getError('sourcePoint')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="reason" placeholder="Действие">
          <mat-option *ngFor="let reason of reasons" [value]="reason.id">{{reason.title}}</mat-option>
        </mat-select>
        <mat-hint align="end">Действие</mat-hint>
        <mat-error *ngIf="hasError('reason', 'incorrect')">{{getError('reason')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="targetPoint" placeholder="Целевая точка">
          <mat-option *ngFor="let point of points" [value]="point.id">{{point.title}}</mat-option>
        </mat-select>
        <mat-hint align="end">Целевая точка</mat-hint>
        <mat-error *ngIf="hasError('targetPoint', 'incorrect')">{{getError('targetPoint')}}</mat-error>
      </mat-form-field>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!form.valid">Создать</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Отмена</button>
      </mat-card-actions>

    </form>

  </mat-card>
</section>
