<section class="main-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update reason</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onUpdate()" novalidate>

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <label>
            <input matInput type="text" placeholder="Title" formControlName="title" id="title">
          </label>
          <mat-hint align="start">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('title', 'incorrect')">{{getError('title')}}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-select formControlName="type" placeholder="Type">
          <mat-option *ngFor="let type of types" [value]="type.id">{{type.title}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('type', 'incorrect')">{{getError('type')}}</mat-error>
      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!form.valid">Create</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>

    </form>
  </mat-card>
</section>
