<section class="main-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create document type</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <label>
            <input matInput type="text" placeholder="Title" formControlName="title" id="title">
          </label>
          <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('title', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('title', 'incorrect')">{{getError('title')}}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!form.valid">Create</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>

    </form>
  </mat-card>
</section>
