<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Movement type</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input id="title" type="text" formControlName="title" class="form-control"/>
        </div>
        <button class="btn btn-primary">submit</button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
