<mat-card>

  <mat-card-header>
    <mat-card-title>Вход</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <mat-form-field class="example-full-width">
      <label>
        <input matInput type="text" placeholder="Имя пользователя" formControlName="username">
      </label>
      <mat-hint align="end">Имя пользователя</mat-hint>
      <mat-error *ngIf="hasError('username', 'incorrect')">{{getError('username')}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <label>
        <input matInput type="password" placeholder="Пароль" formControlName="password">
      </label>
      <mat-hint align="end">Пароль</mat-hint>
      <mat-error *ngIf="hasError('password', 'incorrect')">{{getError('password')}}</mat-error>
    </mat-form-field>

    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Вход</button>
      <button type="button" mat-raised-button color="accent" [routerLink]="'/auth/registration'">Регистрация</button>
    </mat-card-actions>

  </form>

</mat-card>
