<mat-toolbar color="primary">

  <a mat-button [routerLink]="'/unit'"> Вернуться к сценариям </a>

  <a mat-button [routerLink]="'/movement-board'"> Локация </a>

  <a mat-button [routerLink]="'/movement-type'"> Типы </a>

  <a mat-button [routerLink]="'/movement-reason'"> Действия </a>

  <a mat-button [routerLink]="'/movement-point'"> Точки </a>

  <a mat-button [routerLink]="'/movement-create-map'"> Стартовые маршруты </a>

  <a mat-button [routerLink]="'/movement-jump-map'"> Jump маршруты </a>

  <a mat-button [routerLink]="'/movement-map'"> Маршруты </a>

  <a mat-button [routerLink]="'/translate'"> Переводы </a>

</mat-toolbar>
