<mat-toolbar color="primary">

  <mat-toolbar-row>

    <h1>Pet DMS</h1>

    <span class="menu-spacer"></span>

    <div>

      <a mat-button [routerLink]="'/unit'"> Юниты </a>

      <a mat-button [routerLink]="'/movement-board'"> Сценарии </a>

      <a mat-button [routerLink]="'/movement-type'"> Типы </a>

      <a mat-button [routerLink]="'/movement-reason'"> Действия </a>

      <a mat-button [routerLink]="'/movement-point'"> Точки </a>

      <a mat-button [routerLink]="'/movement-create-map'"> Стартовые маршруты </a>

      <a mat-button [routerLink]="'/movement-map'"> Маршруты </a>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
