<mat-toolbar color="primary">

  <mat-toolbar-row>

    <h1>Pet DMS</h1>

    <span class="menu-spacer"></span>

    <div>

      <a mat-button [routerLink]="'/unit'"> Units </a>

      <a mat-button [routerLink]="'/movement-board'"> Boards </a>

      <a mat-button [routerLink]="'/movement-type'"> Types </a>

      <a mat-button [routerLink]="'/movement-reason'"> Reasons </a>

      <a mat-button [routerLink]="'/movement-point'"> Points </a>

      <a mat-button [routerLink]="'/movement-create-map'"> Start routes </a>

      <a mat-button [routerLink]="'/movement-map'"> Routes </a>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
