<mat-card>

  <mat-card-header>
    <mat-card-title>Создать действие</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onCreate()" novalidate>

    <mat-form-field class="example-full-width">
      <label>
        <input matInput type="text" placeholder="Название" formControlName="title">
      </label>
      <mat-hint align="end">Название</mat-hint>
      <mat-error *ngIf="hasError('title', 'incorrect')">{{getError('title')}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <label>
        <textarea matInput placeholder="Описание" formControlName="description"></textarea>
      </label>
      <mat-hint align="end">Описание</mat-hint>
      <mat-error *ngIf="hasError('description', 'incorrect')">{{getError('description')}}</mat-error>
    </mat-form-field>

    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Создать</button>
      <button type="button" mat-raised-button color="warn" (click)="onCancel()">Отмена</button>
    </mat-card-actions>

  </form>

</mat-card>
