/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 40px;
}

.main-section {
  display: flex;
  justify-content: center;
}

mat-table {
  width: 100%;
  display: inline-table !important;
}

mat-table th, td {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center;
}

