/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E4F0FF;
}

mat-table {
  width: 100%;
  display: inline-table !important;
}

mat-table th, td {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center;
}

mat-card {
  padding: 30px 40px !important;
}

mat-form-field {
  width: 100%;
}

app-header {
  color: white;
  font-size: 14px;
  grid-area: header;
  text-align: center;
  background-color: #FA7D44;
  margin-bottom: 50px;
}

.container {
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 12px;
  grid-template-areas: "header header header" "nav content side" "footer footer footer";
  height: 100vh;
}
